<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="Customer.js"></script>
<script src="Utility.js"></script>

<head>
    <title></title>
</head>

<script>
                                        // inject object
    function BindingCode($scope, Factory, UtilityObject) { // dependency injection** inversion of control**
        $scope.Customer = Factory.CreateCustomer(2, UtilityObject); // AnyObject; // new Customer();
        $scope.CustomerAmountColor = "Red";
        $scope.Utility = UtilityObject;

        $scope.$watch("Customer.CustomerAmount", function() {
            if ($scope.Customer.CustomerAmount > 1000) {
                $scope.CustomerAmountColor = "Green";
            } else {
                $scope.CustomerAmountColor = "Blue";
            }
        });

        $scope.Submit = function() {
            if ($scope.Utility.IsEmpty($scope.Customer.CustomerName)) {
            // if ($scope.Customer.CustomerName.length == 0) {
                alert("not proper data");
            } else {
                alert("proper data");
            }
        }
    }

    var myApp = angular.module("myApp", []);
    // myApp.controller("CustomerObj", Customer);
    myApp.controller("BindingCode", BindingCode);

    // factory - place where you build smth
    myApp.factory("Factory", Factory);
    // myApp.service("AnyObject", Customer);
                    // param        // class of instance you want to inject
    myApp.service("UtilityObject", Utility);

</script>

<body>
    <div ng-app="myApp">
        <!-- {{Counter}} -->
        <div id="CustomerScreen" ng-controller="BindingCode">
            <!-- Date and Time of Sales :- {{SalesDateTime}} <br/> -->
            Welcome to Application {{Utility.ApplicationName}} and the current version is {{Utility.ApplicationVersion}}.
            Customer Name :- <input ng-model="Customer.CustomerName" type="text" id="CustomerName" value="" /><br>
            Customer Code :- <input ng-model="Customer.CustomerCode" type="text" id="CustomerCode" value="" /><br>
            Customer Amount :- <input style="background-color: {{CustomerAmountColor}}" ng-model="Customer.CustomerAmount" type="text" id="CustomerAmount" value="" /><br>

            <input type="button" ng-click="Submit()" name="name" value="Submit"> <br/>
            <input type="button" ng-click="Customer.CalculateDiscount()" name="name" value="Calculate Discount"> <br/>
            
            {{::Customer.SalesDateTime}} <br/>
            {{Customer.CustomerName}}<br/>
            {{Customer.CustomerCode}}<br/>
            {{Customer.CustomerAmount}}<br/>

            {{ CustomerName + ' ' + CustomerCode}}
        </div>
        <div id="CustomerScreen" ng-controller="BindingCode">
                <!-- Date and Time of Sales :- {{SalesDateTime}} <br/> -->
                Welcome to Application {{Utility.ApplicationName}} and the current version is {{Utility.ApplicationVersion}}.
                Customer Name :- <input ng-model="Customer.CustomerName" type="text" id="CustomerName" value="" /><br>
                Customer Code :- <input ng-model="Customer.CustomerCode" type="text" id="CustomerCode" value="" /><br>
                Customer Amount :- <input style="background-color: {{CustomerAmountColor}}" ng-model="Customer.CustomerAmount" type="text" id="CustomerAmount" value="" /><br>
    
                <input type="button" ng-click="Submit()" name="name" value="Submit"> <br/>
                
                {{::Customer.SalesDateTime}} <br/>
                {{Customer.CustomerName}}<br/>
                {{Customer.CustomerCode}}<br/>
                {{Customer.CustomerAmount}}<br/>
    
                {{ CustomerName + ' ' + CustomerCode}}
        </div>
    </div>
</body>
</html>